html{
    height: 100%;
    font-family: "TT Lakes", sans-serif;
    font-display: swap;
    background-color: #e9e9ed;
}
.dropdaown_container {
    margin: 0px ;
    padding: 0px;
    background-color: white;
    min-height: 100%;
    max-width: 320px;
    box-shadow: 1px 0px 70px rgba(0, 0, 0, 0.3);
  }
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-menu{
    height: 10%;
    margin-bottom: 40px;
}
.list-container{
    padding: 18px 16px;
}
.menu__list{
    display: flex;
    align-items: center;
    
}
/* кнопки */
.menu-button__cps{
    margin-left: 20px;
}
.menu-button__search{
    margin-left: 86px;
}
.menu-button, 
.footer-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: #FF3E79;
  }
  .menu-button:hover,
  .footer-button:hover {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: #ff004c;
  }
  .menu-button:active,
  .footer-button:active {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: #f4bccd;
  }
  .menu-button__cps {
    height: 40px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }
  /* основное меню */
  .main-menu-container{
    height: 60%;
  }
  .main-menu__list{
    margin-bottom: 6em;
  }
  .main-menu__list-item--active{
    content: url(/icons/highlight.svg);
    position: absolute;
    top:110px;
  }
  .main-menu__list-item__link{
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #1B1C21;
    letter-spacing: -0.2px;
    height: 24px;
    margin-left: 24px;
    margin-bottom: 20px;
  }
 .footer-container{
    position: static;
    height: 30%;
 }
 .footer-menu-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 12px;
    margin-bottom: 12px;
 }
 .footer-item{
    margin-left: 12px;
 }
  /* контакты */
  .contact-container{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    gap: 12px;
  }
  .contact__tel{
    font-size: 24px;
    letter-spacing: -0.6px;
    font-weight: 700;
  }
  .contact-container a{
    text-decoration: none;
    color: #1B1C21; 
  }
  /* язык */
  .language__link--active{
    color:  #7E7E82;
    text-decoration: none;
  }
  .language__link--disabled{
    text-decoration: none;
    color: #1B1C21;
  }
  .language-container{
    margin-top: 1.5em;
    margin-left: 24px;
  }

  @font-face {
    font-family: "TT Lakes";
    src: url("/fonts/TTLakes-Bold.eot");
    src: local("/fonts/TT Lakes Bold"), local("/fonts/TTLakes-Bold"),
      url("/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
      url("/fonts/TTLakes-Bold.woff") format("woff"),
      url("/fonts/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("/fonts/TTLakes-Medium.eot");
    src: local("/fonts/TT Lakes Medium"), local("/fonts/TTLakes-Medium"),
      url("/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
      url("/fonts/TTLakes-Medium.woff") format("woff"),
      url("/fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("/fonts/TTLakes-Regular.eot");
    src: local("/fonts/TT Lakes Regular"), local("/fonts/TTLakes-Regular"),
      url("/fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
      url("/fonts/TTLakes-Regular.woff") format("woff"),
      url("/fonts/TTLakes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }